/* © Abdulaziz Najmiddinov */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* Fontlarni yuklab oldik */
:root {
    --roboto : 'Roboto', sans-serif;
    --qora :  rgba(33, 42, 47, 1);
    --oq :  rgba(255, 255, 255, 1);
}
/* qayta-qayta ishlatilinadigan qiymatlarni bitta o'garuvchiga nomlab oldik */
* {
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
}
/* Barcha elementlar uchun tegishli qiymat berdik */

body{
    overflow-y: overlay;

}

body button {
    cursor: pointer;
}

nav {
    display: inline-block;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    padding-top: 20px;
}

.navigation a {
    text-decoration: none;
    color: var(--qora);
    font-size: 0.75rem;
    font-family: var(--roboto);
    font-weight: 400;
    letter-spacing: 0.7px;
    line-height: 21px;
}

.p_1 {
    margin-left: 30px;
    margin-right: 30px;
}
.p_2 {
    margin-right: 480px;
}

.logo {
    margin-right: 320px;
}

.mat {
    margin-right: 30px;
}

.stor {
    margin-right: 21px;
}

.user {
    margin-right:23px;
    font-size: 20px !important;

}

.que {
    margin-right: 16px;
    font-size: 20px !important;
}

.shop {
    margin-right: 21px;
    font-size: 20px !important;
}

.mainus {
    background-image: url(./Images/Rectangle.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 91.3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1 {
    margin-top: 200px ;
    width: 750px;
    height: 360px;

}

.tree {
    text-align: center;
    font-family: var(--roboto);
    font-size: 3rem;
    color: #fff;
    font-weight: 400;
    line-height: 63px;
    letter-spacing: 0.5px;
}

.text {
    text-align: center;
    font-family: var(--roboto);
    font-size: 1rem;
    color: #fff;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
}

.btn1 {
    margin-top: 207px;
    width: 180px;
    height: 48px;
    background-color: #fff;
    border-radius: 2px;
    border: none;
    margin-left: 190px;
    cursor: pointer;
}

.btn2 {
    margin-top: 207px;
    width: 180px;
    height: 48px;
    background-color: #fff;
    border-radius: 2px;
    border: none;
    margin-left: 4px;
    cursor: pointer;
}

.favorite {
    height: 100vh;
    width: 100%;
    background-color: #fff;
    margin-bottom: 150px;
}



.box-first h1 {
    margin-top: 119px;
    font-family: var(--roboto);
    color: var(--qora);
    font-weight: 400;
    line-height: 42px;
    text-align: center;
}

.box-first p {
    font-family: var(--roboto);
    color: var(--qora);
    font-weight: 400;
    line-height: 24px;
    font-size: 1rem;
    margin-top: 32px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;

    
} 

.pr{
    margin-left: 440px;
    margin-right: 132px;
}

.pr2{
    margin-right: 132px;
}

.boxilla {
    padding: 34px;
    border-top: 1px solid rgb(180, 173, 173);
    margin-top: 12px;
    width: 1236px;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60px;

}

.box-image {
    margin-right: 24px;
}

.box-image2 {
    margin-right: 24px;
}

.hover-box {
   z-index: 1;
}

.btn-3 {
    width: 276px;
    height: 48px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-family: var(--roboto);
    color: var(--qora);
    line-height: 17px;
    letter-spacing: 2px;
    font-size: 0.875rem;
    border: none;
    position: absolute;
    top: 1118px;
    left: 123px;
    
}
/* .box-image:hover {
    display: block;
} */
/* .hover-box:hover{
    display: block !important;
} */

.btn-4 {
    width: 276px;
    height: 48px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-family: var(--roboto);
    color: var(--qora);
    line-height: 17px;
    letter-spacing: 2px;
    font-size: 0.875rem;
    border: none;
    position: absolute;
    top: 1175px;
    left: 123px;
}

.btn-5 {
    width: 276px;
    height: 48px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-family: var(--roboto);
    color: var(--qora);
    line-height: 17px;
    letter-spacing: 2px;
    font-size: 0.875rem;
    border: none;
    position: absolute;
    top: 1118px;
    left: 543px;
    display: none;
}

.btn-6 {
    width: 276px;
    height: 48px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-family: var(--roboto);
    color: var(--qora);
    line-height: 17px;
    letter-spacing: 2px;
    font-size: 0.875rem;
    border: none;
    position: absolute;
    top: 1175px;
    left: 543px;
    display: none;
}

.btn-7 {
    width: 276px;
    height: 48px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-family: var(--roboto);
    color: var(--qora);
    line-height: 17px;
    letter-spacing: 2px;
    font-size: 0.875rem;
    border: none;
    position: absolute;
    top: 1118px;
    left: 963px;
}

.btn-8 {
    width: 276px;
    height: 48px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-family: var(--roboto);
    color: var(--qora);
    line-height: 17px;
    letter-spacing: 2px;
    font-size: 0.875rem;
    border: none;
    position: absolute;
    top: 1175px;
    left: 963px;
}


.param {
    margin-top: 17px;
    font-family: var(--roboto);
    color: var(--qora);
    font-size: 1.375rem;
    line-height: 29px;
    margin-left: 30px;
    border-bottom: 1px solid rgb(153, 152, 152);
    width: 340px;
    font-weight: 400px;
}

.log {
    margin-top: 11px;
    margin-left: 30px;
}

.mit {
    font-family: var(--roboto);
    color: var(--qora);
    letter-spacing: 0.4px;
    font-size: 0.875rem;
    font-weight: 400px;
    margin-top: 15px;
    line-height: 20px;
    margin-left: 12px;
    margin-bottom: -10px;

}   

.rex {
    display: flex;
}

.imge {
    width: 100%;
    height: 542px;
}

.im2 {
    width: 100%;
}

.im3 {
    display: flex;
    justify-content: center;
}

.hu1 {
    font-family:var(--roboto);
    font-weight: 400px;
    font-size: 2rem;
    line-height: 42px;
    text-align: center;
    margin-top: 47px;
}

.pu1 {
    font-family:var(--roboto);
    font-weight: 400px;
    font-size: 1rem;
    line-height: 24px;
    text-align: center;
    margin-top: 47px;
    margin-top: 18px;
    text-align: center;
}

.btn10 {
    width: 180px;
    height: 48px;
    background-color:#212A2F;
    border-radius: 2px;
    border: none;
    padding: 17px 46px;
    color: white;
    font-family: var(--roboto);
    font-size: 0.875rem;
    letter-spacing: 2px;
    line-height: 17px;
    margin-top: 30px;
    margin-right: 12px;
}

.btn11 {
    width: 180px;
    height: 48px;
    background-color:#212A2F;
    border-radius: 2px;
    border: none;
    padding: 17px 32px;
    color: white;
    font-family: var(--roboto);
    font-size: 0.875rem;
    letter-spacing: 2px;
    line-height: 17px;
    margin-top: 30px;
    margin-left: 12px;
    margin-bottom: 119px;
}

.pe1 {
    font-family: var(--roboto);
    font-size: 2rem;
    color: #212A2F;
    line-height: 42px;
    font-weight: 400px;
    margin-left: 60px;
}

.buxus-image{
    width: 100%;
    display: flex ;
    justify-content: space-between ;

    margin-top: 24px;
}

.imgus-box1 {
    width: 32%;
    margin-left: 60px;

}

.imgus-box {
    width: 32%;
    margin-left: 24px;
    margin-right: 24px;
}
.imgus-box3 {
    width: 32%;
    margin-right: 60px;
}

.pe2 {
    margin-top: 17px;
    margin-left: 18px;
    font-family: var(--roboto);
    font-size: 1.375rem;
    font-weight: 400px;
    line-height: 29px;
}


.imgusus {
    margin-top: 138px;
    width: 100%;
}

.pt1 {
    margin-top: 47px;
    font-family: var(--roboto);
    color: #212A2F;
    font-size: 2rem;
    line-height: 42px;
    text-align: center;
}

.pt2 {
    margin-top: 22px;
    font-family: var(--roboto);
    color: #212A2F;
    font-size: 1rem;
    text-align: center;
    line-height: 24px;
}

.btn-12 {
    margin-top: 26px;
    width: 384px;
    height: 48px;
    color: #fff;
    font-size: 0.875rem ;
    color:#fff;
    background-color: #212A2F;
    cursor: pointer;
    border: none;
    margin-bottom: 119px;
}

.digus-2 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.Arrivvals {
    width: 100%;

}

.py1 {
    margin-left: 60px;
    font-family: var(--roboto);
    font-size: 2rem;
    line-height: 42px;
    font-weight: 400px;
    margin-bottom: 24px;
}

.figmus-box {
     width: 100%;
     display: flex;
     justify-content: space-between;
}

.img-10{
    margin-left: 60px;
    margin-right: 24px;

}

.img-12{
    margin-right: 60px;
    margin-left: 24px;
}

.py2 {
    font-family: var(--roboto);
    font-size: 1.375rem;
    font-weight: 400px;
    margin-left: 78px;
    line-height: 29px;
}

.py3 {
    margin-top: 6px;
    margin-left: 78px;
    font-family: var(--roboto);
    font-size: 1rem;
    line-height: 24px;
    font-weight: 400px;
}

.py4 {
    font-family: var(--roboto);
    font-size: 1.375rem;
    font-weight: 400px;
    margin-left: 18px;
    line-height: 29px;
}

.py5 {
    margin-top: 6px;
    margin-left: 18px;
    font-family: var(--roboto);
    font-size: 1rem;
    line-height: 24px;
    font-weight: 400px;
}

.py6 {
    font-family: var(--roboto);
    font-size: 1.375rem;
    font-weight: 400px;
    margin-left: 42px;
    line-height: 29px;
}

.py7 {
    margin-top: 6px;
    margin-left: 42px;
    font-family: var(--roboto);
    font-size: 1rem;
    line-height: 24px;
    font-weight: 400px;
    margin-bottom: 138px;
}



.thimge {
    width: 100%;
    height: 542px;
}

.pk {
    margin-top: 47px;
    font-family: var(--roboto);
    font-size: 2rem;
    line-height: 42px;
    text-align: center;
}

.pk2 {
    margin-top: 22px;
    font-family: var(--roboto);
    font-weight: 400px;
    font-size: 1rem;
    line-height: 24px;
    text-align: center;
}

.sus {
    margin-top: 26px;
    width: 384px;
    height: 48px;
    color: #fff;
    border-radius: 2px;
    text-align: center;
    margin-left: 490px;
    background-color: var(--qora);
    font-family: var(--roboto);
    line-height: 17px;
    font-weight: 400;
    font-size: 0.875rem;
    letter-spacing: 2px;
    border: none;
    padding: 17px 54px;
    margin-bottom: 119px;
}

.pq {
    margin-left: 60px;
    font-family: var(--roboto);
    color: var(--qora);
    font-size: 2rem;
    line-height: 42px;
    margin-bottom: 24px;
}

.imguses {
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
    margin-right: 60px;
}

.pq2 {
    font-family: var(--roboto);
    font-size: 1.375rem;
    font-weight: 400px;
    margin-left: 8px;
    line-height: 29px;
}

.ps1 {
    margin-top: 10px;
    margin-left: 8px;
    font-family: var(--roboto);
    font-size: 1rem;
    line-height: 24px;
    font-weight: 400px;
    margin-bottom: 134px;
}

.footere {
    width:100%;
    background-color: #212A2F;
}

.px1 {
    padding-top:71px;
    margin-left: 54px;
    color: #fff;
    font-family: var(--roboto);
    font-size: 0.875rem;
    line-height: 20px;
    margin-bottom: 6px;
}

.em {
    margin-left: 54px;
    width: 302px;
    height: 48px;
    background-color: #4D5559;
    border-bottom: 1px solid #fff;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 15px;
    margin-right: 12px;
    color: #fff;
}

.sgun {
    height:48px;
    width: 138px;
    font-family: var(--roboto);
    color: #fff;
    font-weight: 400px;
    letter-spacing: 2px;
    line-height: 17px;
    text-align: center;
    font-size: 0.875rem;
    background-color: #4D5559;
    border: none;
    cursor: pointer;
}

.umus {
    margin-top: 90px;
    margin-left: 54px;
    display: flex;
    justify-content: space-between;
}

.help {
    font-family: var(--roboto);
    color: #fff;
    font-weight: 400;
    font-size: 0.75rem;
}

.help p,a{
    margin-bottom: 16px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

.poz3 {
    margin-top: 16px;
}

.poz5 {
    margin-top: 16px;
}

.poz1 {
    letter-spacing: 2px;
    margin-bottom: 21px !important;
    font-size: 0.875rem;
    line-height: 21px;
    font-family: var(--roboto);
    color: #fff;
    font-weight: 400px;
}

.shopi{
    font-family: var(--roboto);
    color: #fff;
    font-weight: 400;
    font-size: 0.75rem;
    margin-left: -36px;
}

.shopi p {
    margin-bottom: 16px;
    cursor: pointer;
}

.poz7 {
    letter-spacing: 2px;
    margin-bottom: 21px !important;
    font-size: 0.875rem;
    line-height: 21px;
    font-family: var(--roboto);
    color: #fff;
    font-weight: 400px;
}

.compi{
    font-family: var(--roboto);
    color: #fff;
    font-weight: 400;
    font-size: 0.75rem;
    margin-right: 500px;
}

.compi p {
    cursor: pointer;
    margin-bottom: 16px;
}

.poz15 {
    letter-spacing: 2px;
    margin-bottom: 21px !important;
    font-size: 0.875rem;
    line-height: 21px;
    font-family: var(--roboto);
    color: #fff;
    font-weight: 400px;
}

.fol {
    display: flex;
    justify-content: space-between;
    margin-top: 85px;
}

.full1 {
    margin-left: 54px;
}

.puy1 {
    color: #fff;
    font-family: var(--roboto);
    font-size: 0.875rem;
    line-height: 21px;
    letter-spacing: 2px;
    margin-bottom: 21px;
    font-weight: 400px;
}

.puy2 {
    color: #fff;
    font-family: var(--roboto);
    font-size: 0.75rem;
    line-height: 18px;
    margin-bottom: 21px;
    font-weight: 400px;
}

.full2 {
    margin-left: -20px;
    cursor: pointer;
}

.full3 {
    margin-right: 250px;
}

.flags i {
    font-size: 1.3rem;
    color: #fff;
    margin-right: 10px;
    cursor: pointer;
}

.iqons i{
    color: #fff;
    margin-right: 18px;
}

.iqons i:hover {
    cursor: pointer;
}

.hud {
    margin-top: 102px;
    text-align: center;
    color: #fff;
    font-family: var(--roboto);
    font-size: 0.75rem;
    line-height: 12px;
    font-weight: 400px;
    padding-bottom: 90px;
}